@import '../../../../../styles/variables';

.PizzaItem {
  display: flex;
  align-items: center;
  position: relative;
  height: 160px;

  &__img {
    height: 100%;
    display: flex;
    align-items: center;

    img {
      height: 90px;
      border-radius: 20px;
      padding-left: 10px;
      padding-right: 5px;
    }
  }

  &__discription {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;

    h5 {
      font-size: 14px;
    }
    span {
      font-size: 13px;
      margin-top: 10px;
    }
  }

  &__radio {
    position: absolute;
    bottom: 0;
    margin-bottom: -10px;
  }

  .PizzaItem__discription__info {
    color: $colorBlueGrey;
  }
}