@import '../../styles/variables';

.Menu {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  &__container {
    width: 1280px;
    margin: 0 15px;
  }

  .container__collection {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .colection {

    &__title {
      margin: 0px;
    }

    &__product-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1300px) {
  .Menu {
    &__container {
      width: 1000px;
    }
  }
}