@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.ProductSliderDesktop {
  position: relative;
  width: 100%;
  height: 180px;
  overflow-x: hidden;
  padding: 10px 0;

  &__roll {
    display: flex;
    transition: .3s;
  }

  &__sub, &__add {
    position: absolute;
    height: 150px;
    cursor: pointer;
    @include ButtonToDiv;

    &:hover i{
      font-size: 33px;
    }
  }

  &__add {
    right: 0;
    top: 0;
  }

  &__sub {
    left: 0;
    top: 0;
  }

  i {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $colorWhite;
    transition: .3s;
    color: $colorOrange;
    margin: 15px;
  }
}