@import '../../../styles/variables';

.CityItem {
  &__item {
    display: block;
    font-size: 16px;
    padding: 10px 0px;
    transition: all .2s;
    width: 200px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $colorOrange;
    }
  }

  .target {
    color: $colorOrange;
    font-weight: 600;
  }
}