@import '../../../styles/variables';
@import '../../../styles/mixins';

.animation-container {
  position: absolute;
  right: 0;
  margin-top: 55px;
}

.MiniBasket {
  position: absolute;
  z-index: 10;
  padding: 10px 20px;
  padding-right: 0px;
  right: 0;
  width: 370px;
  background-color: $colorWhite;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 9;

  &__products {
    overflow: auto;
    padding-right: 20px;
    max-height: 600px;

    @include Scroll;
  }

  &__img {
    width: 90%;
    margin: 0 5%;
  }

  &__price {
    padding: 20px 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
  }

  .price__title {
    font-size: 20px;
  }

  .price__price {
    font-size: 20px;
    font-weight: 600;
  }

}

.triangle {
  background-color: $colorWhite;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(135deg);
  z-index: 10;
  margin-bottom: -10px;
  margin-right: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
