$colorWhite: #fff;
$colorLightGrey: #e5e5e5;
$colorBlack: #2d2d2d;
$colorGrey: #8c8c8c;
$colorDarkGrey: #676767;

$colorLightOrange: #fff0e6;
$colorBlueGrey: rgb(92, 99, 112);

$colorYellow: rgb(255, 210, 0);
$colorOrange: #ff6900;
$colorRed: rgb(252, 17, 17);