@import '@styles/variables';
@import '@styles/mixins';

.Basket {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 150px;
}

.Basket__container__post-message {
  background-color: rgba(0, 0, 0, 0.07);
  width: 320px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20%;

  h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.Basket__container {
  width: 70%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  max-width: 800px;

  &__space {
    height: 96px;

    h3 {
      margin-top: 70px;
    }
  }

  h1 {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
  }

  &__slider {
    width: 800px;
  }

  &__price {
    padding: 40px 25px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .price__title {
    font-size: 22px;
    margin-right: 10px;
  }

  .price__price {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: $colorBlack;

    &__prev {
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.2);
      font-size: 18px;
      margin-right: 8px;
    }

    &__curent {
      font-size: 22px;
      color: $colorOrange;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }

  &__promo-code {
    margin: 50px 0px;

    h2 {
      font-size: 20px;
    }

    .promo-code__container {
      display: flex;
      width: 410px;

      i {
        font-size: 20px;
        margin-left: 10px;
      }

      input {
        border-radius: 10px 0 0 10px;
        padding-left: 50px;
      }

      &__button {
        padding-top: 30px;

        button {
          border-radius: 0 10px 10px 0;
          height: 46px;
        }
      }
    }
  }
}

.Basket__container__slider.desctop {
  display: block;
}

.Basket__container__slider.mobile {
  display: none;
}

.Basket__img {
  width: 60%;
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .Basket {
    padding-bottom: 100px;
  }

  .Basket__container__slider.desctop {
    display: none;
  }
  
  .Basket__container__slider.mobile {
    display: block;
    .ProductSliderMobile {
      padding-left: 0;
    }
  }

  .Basket__container {
    padding-top: 20px;
    h1 {
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 600px) {
  .Basket {
    padding-bottom: 50px;
  }

  .Basket__container {
    width: 95%;

    &__price {
      padding: 0;
      padding-right: 3px;
      padding-bottom: 20px;
    }

    &__buttons {
      padding: 0;
      flex-direction: column-reverse;
      button {
        margin-bottom: 20px;
      }
    }

    &__promo-code {
      .promo-code__container {
        width: 100%;

        button {
          padding: 0px 15px;
          span {
            font-size: 15px;
          }
        }
      }
    }
  }
}