@import '../../../styles/variables';
@import '../../../styles/mixins';

.Button {
  @include ButtonToDiv;
}

.Button.default {
  background-color: $colorLightGrey;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s;
  color: $colorBlack;

  span {
    font-size: 18px;
  }

  &:hover {
    background-color: #dcdcdc;
    color: black;
  }
}

.Button.bright {
  background-color: $colorOrange;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s;
  color: $colorWhite;

  span {
    font-size: 18px;
  }

  &:hover {
    background-color: #e55f00;
  }
}

.Button.light {
  background-color: $colorLightOrange;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s;
  color: $colorOrange;

  span {
    font-size: 16px;
  }

  &:hover {
    background-color: #ffdfc8;
  }
}