@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.BasketItem {
  display: flex;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &__delete-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 5px;

    button {
      @include ButtonToDiv;

      i {
        font-size: 18px;
        transition: .3s;
      }

      &:hover {
        color: $colorOrange;
        cursor: pointer;
      }
    }
  }

  &__img {
    width: 25%;
    margin-left: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;

    img {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__title {
    width: 67%;
    display: flex;
    padding-right: 30px;
    flex-direction: column;

    &__title {
      font-weight: 600;
      font-size: 15px;
      display: block;
    }

    &__description {
      margin-top: 3px;
      font-size: 12px;
      display: block;
    }

    &__details {
      margin-top: 5px;
      font-size: 12px;

      &__add-item {
        margin-right: 6px;
        display: block;
      }

      &__dell-item {
        margin-right: 6px;
        display: block;
      }

      &__combo-item {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
      }
    }
  }

  &__amount {
    display: flex;
    align-items: center;
    width: 66%;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__price {
    width: 34%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    padding-right: 10px;
    margin-top: 20px;

    .price {
      font-size: 19px;
      font-weight: 600;
    }
  }
}

.BasketItem.basketI {
  padding-right: 20px;
  width: 100%;
  max-width: 800px;
  img {
    width: 100px;
  }

  .BasketItem__delete-button {
    i {
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 475px) {
  .Basket__container {
    width: 95%;
  }

  .BasketItem.basketI {
    img {
      width: 80px;
    }

    .BasketItem__price {
      width: 30%;
    }

    .BasketItem__amount {
      width: 70%;
    }
  }
}
