.DefaultProduct {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  &__img-container {
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
    }
  }
  
  &__description-container {
    height: 200px;
    width: 400px;
  }
}

.DefaultProduct__description-container__title {
  font-size: 22px;
}

.DefaultProduct__description-container__description {
  font-size: 16px;
  margin-top: 20px;
  height: 220px;
}

@media screen and (max-width: 1000px) {
  .DefaultProduct {
    flex-wrap: wrap;
    padding: 0px;
  }

  .DefaultProduct__description-container {
    width: 300px;
  }

  .buy-button {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 719px) {
  .DefaultProduct__description-container__description {
    font-size: 16px;
    margin-top: 20px;
    height: 100px;
  }
}