.DefaultProduct {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  &__img-container {
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
    }
  }
  
  &__description-container {
    height: 300px;
    width: 400px;
  }
}

.DefaultProduct__description-container__title {
  font-size: 22px;
}

.DefaultProduct__description-container__description {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 180px;
}

.DefaultProduct__description-container__button {
  width: 46%;
  position: absolute;
  bottom: 0;
}