@import '../../../../styles/variables';

.configurator {
  width: 950px;
  display: flex;

  &__img-container {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-container {
    height: 500px;
    overflow-x: auto;
    padding-right: 10px;
  }

  &__menu-container {
    scrollbar-width: thin;
    scrollbar-color: grey $colorLightGrey;
  }
  
  &__menu-container::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &__menu-container::-webkit-scrollbar-track {
    background: $colorLightGrey;
  }

  &__menu-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
  }

  .menu-container {
    &__title {
      font-size: 22px;
      padding: 10px 0;
    }

    &__description {
      display: block;
      color: $colorDarkGrey;
      font-size: 16px;
    }

    &__ingr-block {
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
    }

    &__buttons-container {
      margin-top: 10px;
      width: 100%;
    }
  }
  .img-container__img {
    transition: .5s;
    img {
      height: 100%;
    }
  }

  .img-container__img.small {
    width: 330px;
    height: 330px;
  }

  .img-container__img.medium {
    width: 370px;
    height: 370px;
  }

  .img-container__img.large {
    width: 450px;
    height: 450px;
  }
}

.buttons-container {
  &__ing-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 10px;
  }
}

.right {
  width: 45%;
}

.buy-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .Button.bright {
    width: 100%;
  }
}