.CityChanger {
  width: 650px;
  margin: 30px 40px;

  &__title {
    margin: 10px 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }

  &__hr {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .CityChanger {
    margin: 0 auto;
  }
}
