@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.moreIngredients {
  @include ButtonToDiv;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 20px;
  width: 30%;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid $colorLightGrey;
  transition: .3s;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(6, 5, 50, 0.06) 0px 4px 20px
  }

  &__title {
    text-align: center;
    font-weight: 100;
  }

  &__price {
    font-weight: 600;
    margin: 10px 0px;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  &__check-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;

    i {
      font-size: 24px;
      color: $colorOrange;
    }
  }
}

.moreIngredients.target {
  border: 1px solid $colorOrange;
}

.moreIngredients.disable {
  box-shadow: none;
  opacity: 0.3;

  border: 1px solid $colorGrey;
}