@import '../../styles/variables';
@import '../../styles/mixins';

.Header {
  width: 100%;
  background-color: $colorWhite;
  display: flex;
  justify-content: center;

  .menu {
    position: sticky;
    top: 0;
    background-color: blue;
  }

  .delivery {
    margin-left: 90px;
    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__firstText {
      .sity {
        color: $colorOrange;
        font-weight: 800;
      }
    }

    &__lastText {
      color: $colorBlack;
      font-weight: 800;
    }
  }

  .phone {
    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__firstText {
      font-weight: 800;
    }

    &__lastText {
      font-size: 13px;
      color: $colorGrey;
    }
  }

  .logo {
    display: flex;

    &__flex {
      display: flex;
      flex-direction: column;
    }
  }

  .logo__container {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 0px 15px;
  }

  .menu__container {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 25px;
    }

    .burger-menu {
      @include ButtonToDiv;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      transition: all .3s;
    }
  }
}


@media screen and (min-width: 1000px) {
  .burger-menu {
    display: none;
  }

  .Header {
    padding: 10px 0; 
  }
}

@media screen and (max-width: 1000px) {
  .phone, .login-button {
    display: none;
  }

}

@media screen and (max-width: 700px) {
  .delivery {
    display: none;
  }
}