@import '@styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
}

a {
  text-decoration: none;
  color: $colorBlack;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h2 {
  font-size: 22px;
}

body.modal-open-win {
  overflow: hidden;
  padding-right: 17px;
}

body.modal-open-mac {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 1000px) {
  body.modal-open-win .Menu, body.modal-open-win .Footer, body.modal-open-win .Basket{
    display: none;
  }

  body.modal-open-mac .Menu, body.modal-open-mac .Footer, body.modal-open-mac .Basket{
    display: none;
  }
}
