@import '../../../styles/variables';
@import '../../../styles/mixins';

.MobileMenu {
  @include ButtonToDiv;
  position: fixed;
  padding: 10px 23px;
  padding-top: 23px;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $colorBlack;
  z-index: 100;
  color: $colorWhite;
  display: flex;
  flex-direction: column;

  a {
    color: $colorWhite;
  }

  hr {
    border: none;
    border-bottom: 1px solid $colorGrey;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .firstHR {
    margin-top: 15px;
  }

  .navigation__item-list {
    padding: 15px;
    padding-left: 35px;
    color: $colorWhite;
  }

  .navigation__ul {
    list-style-type: none;
  }
}