@import '../../styles/variables';

.Auth {
  width: 550px;
  margin: 0 40px;

  &__buttonContainer {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__logInText {
    color: $colorBlack;
    margin-top: 10px;
  }

  .loginButton {
    margin-right: 15px;
  }
}