@import '../../styles/variables';

.Auth {
  width: 550px;
  margin: 0 40px;

  .error-message {
    color: red;
    position: absolute;
    margin-bottom: 50px;
    margin-top: 10px;
  }

  &__buttonContainer {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__logInText {
    color: $colorBlack;
    margin-top: 10px;
  }

  .loginButton {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .Auth {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
  }
}
